{% extends 'base.html' %}
{% block content %}
<div class="designs_wrapper">
    <h1>Our World of Epic Designs!</h1>
    <div class="designs">
        <div class="design1">
            <div class="holder holder1"></div>
            <div class="info">
                <p>ScholarsBank<p><br>
                    <a href="https://www.scholarsbankmain.com" class="goto" target="__blank">
                        <span></span>
                        <span></span>
                        Go to site</a>                    
                </div>
                
            </div>
            <div class="design2">
                <div class="holder holder2"></div>
                <div class="info">
                    <p>Indus-Mega<p><br>
                        <a href="https://www.indusmegafarms.com" class="goto" target="__blank">
                            Go to site
                        <span></span>
                        <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <style>
            .main-header{
                background:none;
                height:auto;
            }
            .nav{
                background:rgba(9, 146, 158, 0.986);
            }
            body,html{
                min-height:100vh;
            }
            
        </style>
        {% endblock %}
        